body{
    background-color: rgb(255, 255, 255);
    padding: 0;
 
    
}

a {
    cursor: pointer;
}


a:hover{
    text-decoration: none;
   
}

html, body {
    margin: 0;
    /* height: 100%; */
    /* box-sizing: border-box; */
    text-decoration: none;
}

#message-id{
    color: #0F8B8D
}

#message-id-err{
    color: #EC9A29
}